@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Comfortaa", cursive;
}
